@using AllWork1s.Models;
@model List<Cv>
@{
    ViewBag.Title = "CVID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Css", "Home")
<link href="~/Content/UI/Img/pe-icon-7-stroke.css" rel="stylesheet" />
<link href="~/Content/UI/Img/rotating-card.css" rel="stylesheet" />
<div class="w3l-hero-headers-9">
    <section>
        <div class="container" style="max-width: 1280px">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: #7B55FF; font-size: 40px" class="text-center mt-5">Bạn đã có @Model.Count hồ sơ</h1>
                    <p class="text-center">
                        Những hồ sơ bên dưới sẽ được sử dụng nộp cho công ty bạn mong muốn
                    </p>
                    <p>
                        <center><button class="ui red button" onclick="window.location.href='@Url.Action("ViewCV","UserCv")'"><i class="fa fa-address-book">&nbsp;</i>Tạo thêm hồ sơ</button></center>
                    </p>
                </div>
                <div class="col-lg-8 ca">
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="card" style="border-radius: 0px 0px 0px 0px">
                                <ul class="mt-3">
                                    <li><a href="#">Tất cả (1)</a></li>
                                    <li><a href="#">Free (1)</a></li>
                                    <li><a href="#">Chuyên nghiệp (2)</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (Model.Count == 0)
                        {
                            <button class="btn btn-primary mt-5 w-100" onclick="window.location.href='@Url.Action("ViewCV","UserCv")">BẮT ĐẦU XÂY DỰNG HỒ SƠ VIỆC LÀM</button>
                        }
                        else
                        {
                            foreach (var item in Model.Where(n => n.cv_theme == 1).ToList())
                            {
                                <div class="col-md-4 col-sm-6 mt-3">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <img class="img-circle w-100" style="height: 350px" src="~/Images/Cv/ImgCard/mau-cv-default.jpg" />
                                                <div class="content">
                                                    <div class="footer bg-primary text-white">
                                                        <b>@item.cv_fullname</b>
                                                        <div style="height: 25px">
                                                            Nghành nghề: @item.Career.career_name
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h5 class="motto">"Mẫu CV trắng, dễ sử dụng"</h5>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h4 class="text-center">Mẫu CV cơ bản</h4>
                                                        <p class="text-center">Phù hợp với tất cả nghành nghề</p>

                                                        <div class="stats-container">
                                                            <div class="stats">
                                                                <h4>1</h4>
                                                                <p>
                                                                    Người dùng
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>0</h4>
                                                                <p>
                                                                    0 kiểm duyệt
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>35</h4>
                                                                <p>
                                                                    Hướng dẫn
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="footer bg-primary text-white">
                                                        <b>Mẫu CV trắng dễ sử dụng</b>
                                                        <div style="height: 25px">
                                                            <button class="ui red button" onclick="window.location.href = '@Url.Action("AddCV1","UserCv")'">Sửa</button>
                                                            <button class="ui red button" onclick="window.location.href = '@Url.Action("AddCV1","UserCv")'">Xóa</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->
                            }
                            foreach (var item in Model.Where(n => n.cv_theme == 2).ToList())
                            {
                                <div class="col-md-4 col-sm-6 mt-3">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <img class="img-circle w-100" style="height: 350px" src="~/Images/Cv/ImgCard/mau-cv-default.jpg" />
                                                <div class="content">
                                                    <div class="footer bg-primary text-white">
                                                        <b>@item.cv_fullname</b>
                                                        <div style="height: 25px">
                                                            Nghành nghề: @item.Career.career_name
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h5 class="motto">"Mẫu CV trắng, dễ sử dụng"</h5>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h4 class="text-center">Mẫu CV cơ bản</h4>
                                                        <p class="text-center">Phù hợp với tất cả nghành nghề</p>

                                                        <div class="stats-container">
                                                            <div class="stats">
                                                                <h4>1</h4>
                                                                <p>
                                                                    Người dùng
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>0</h4>
                                                                <p>
                                                                    0 kiểm duyệt
                                                                </p>
                                                            </div>
                                                            <div class="stats">
                                                                <h4>35</h4>
                                                                <p>
                                                                    Hướng dẫn
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="footer bg-primary text-white">
                                                        <b>Mẫu CV trắng dễ sử dụng</b>
                                                        <div style="height: 25px">
                                                            <button class="ui red button" onclick="window.location.href = '@Url.Action("AddCV1","UserCv")'">Sửa</button>
                                                            <button class="ui red button" onclick="window.location.href = '@Url.Action("AddCV1","UserCv")'">Xóa</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->
                            }
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    @Html.Action("Manager", "View")
                </div>
            </div>
        </div>
    </section>
</div>
